In [10]:
myset={1,56,98,90}
print(myset)
myset.remove(98)
print(myset)
myset.discard(56)
myset.discard(57)
print(myset)
#myset.remove(57)
print(myset)
#discard=don't show error
#remove = show error

{56, 1, 98, 90}
{56, 1, 90}
{1, 90}
{1, 90}

In [11]:
 #bug=error in program
 #debug=remove bug
 for i in myset:
    print(i,end=' ')

1 90

In [18]:
fruits={'apple','banana','mango'}
prices={100,40,60}
myset2=fruits.union(prices)
print(myset2)
myset3=fruits|prices
print(myset3)

{100, 'apple', 'mango', 40, 60, 'banana'}
{100, 'apple', 'mango', 40, 60, 'banana'}

In [19]:
set1={1,2,3,4}
set2={'a','b','c','c'}
set1.update(set2)
print(set1)
#union and set both discard duplicate values

{1, 2, 3, 4, 'b', 'a', 'c'}

In [21]:
set1={'apple','banana','pineapple',56,20}
set2={20,40,40,56,20,'banana','pineapple'}
set3=set1.intersection(set2)
print(set3)
set4=set2&set1
print(set4)

{56, 'pineapple', 20, 'banana'}
{56, 'pineapple', 20, 'banana'}